<h1> Punch in or Punch out </h1>

<%= form_for :punchin, url: punchin_index_path do |f| %>
  <%= f.select(:client) do %>
    <% [['Lauren'], ['Mariah']].each do |c| -%>
      <%= content_tag(:option, c.first, value: c.first) %>
    <% end %>
  <% end %>
  <!--<p>
    <%= f.label :time %><br>
    <%= f.text_area :time %>
  </p>
 -->
  <p>
    <%= f.submit %>
  </p>
<% end %>

<%= link_to 'Back', punchin_index_path%>